html,body{
	background: #f64d3d;
	overflow: hidden;
}
body{
	zoom:75%;
}
.container{
	width: 100%;
	color: black;
	padding: 0;

}
.marvel-device .screen{
	background:white;
	overflow-y: auto;
	overflow-x: hidden;
}
.mobile{
	    margin: 0 auto;
    width: 25em;
    margin-top: 3em;
}
::-webkit-scrollbar {
   width: 6px;
}

::-webkit-scrollbar-track {
   /*-webkit-box-shadow: inset 0 0 6px white;*/
}

::-webkit-scrollbar-thumb {
   /*-webkit-box-shadow: inset 0 0 6px black;*/
   background: #d0d0d0 ;
}

md-pagination-wrapper{
	margin: 0 auto;
    position: relative;
}

md-input-container.md-block {
    display: block;
    text-align: left;
}

.md-padding{
	padding: 0;
}

input#input_4{
	width: 78%;
}

.search_input {
    padding-left: 1em;
    padding-top: 9px;
}

button.md-raised.search_icon.md-button.md-ink-ripple{
	min-width: 49px;
    position: fixed;
    top: 15px;
    left: 17em;
}

md-card md-card-title{
	padding: 14px 0px;
}

p.track_title{
	float: left;
    font-size: 23px;
    font-weight: 700;
}

p.track_genres{
	float: left;
    color: #5f5858;
    font-size: 13px;
    margin-top: 1px;
}
md-card.md-default-theme, md-card
{
	height: 7em;
}